.container-fluid  {
  font-weight: bold;
  display: inline;
  text-align: center;
}
body  {
  font-family: "Quicksand";
  background: -webkit-linear-gradient(top, #87e0fd 1%, #53cbf1 40%, #05abe0 90%);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#header {
    background: url('../images/header.jpg');
    margin-top: -2%;
}
#about-me {
  font-size: 20px;
  min-height: 100%;
}

img {
  border:none;background:none;
}

.img-circle {
  opacity: 0.9;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-self: center;
  -webkit-filter: grayscale(40%);
}
.icon {
  height: 50px;
  width: 50px;
  position:relative;
}
#scroll-door {
  margin-left: 3px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid black;
}

#development {
  min-height: 100%;
}
#content {
  margin-top: 10%;
}
#intro {
  margin-top: 5%;
  text-align: left;
  -webkit-filter: grayscale(10%);
}
#gallery {
margin-top: 5%;
}
#gallery > a {
  pointer-events: none;
  cursor: default;
}
.lang-elem  {
  -webkit-filter: grayscale(30%) blur(1.5px);
}
.lang-elem:hover {
  -webkit-filter: blur(0px);
}
#down {
  margin-top: 2%;
  animation: bobble 0.5s ease-out alternate infinite;
}

@keyframes bobble {
  0%  {
    margin-top: 2%;
  }
  100%  {
    margin-top: 3%;
  }
}
