#side-bar-1{
	background-color : peru;
	height : 100%;
	text-align: center;
		
}
#coffee-circle{
	margin-top: 5%;
	width: 240px;
	height: 240px;
	border: 8px solid white;
	transition: border 3s ease, transform 3s;
}
#coffee-circle:hover{
	border: 8px solid Saddlebrown;
	transform: rotate(360deg);
}
#descp-coffee{
	margin-top: 2%;
	font-family: Shadows Into Light;
	font-size: 200%;  
}
#lift{
	transition: all 7s ease;
}
#lift:hover{
	font-size: 450%;
}