#side-bar-1{
	animation: pulse 5s infinite;
	animation-direction: alternate;
	background-color : peru;
	height : 100%;
	text-align: center;	
	
}
@keyframes pulse{
	0%{
		background-color: peru;
		
	}
	100%{
		background-color: chocolate;
		
	}
}
#coffee-circle{
	margin-top: 5%;
	width: 240px;
	height: 240px;
	border: 8px solid white;
	transition: border 3s ease, transform 3s;
	box-shadow: 0px -20px 10px #000000;
	animation: shadows 5s infinite alternate-reverse ease;
}
@keyframes shadows{
	0%{
		box-shadow: 0px -5px 0px #000000;
	}
	25%{
		box-shadow: 5px 0px 0px #000000;
	}
	50%{
		box-shadow: 0px 5px 0px #000000;
	}
	100%{
		box-shadow: -5px 0px 0px #000000;
	}
}
#coffee-circle:hover{
	cursor: pointer;
	border: 8px solid Saddlebrown;
	transform: rotate(360deg);
}
#descp-coffee{
	margin-top: 2%;
	font-family: Shadows Into Light;
	font-size: 200%;  
}
#lift{
	transition: all 7s ease;
	-moz-user-select: none;
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none; 
}
#lift:hover{
	cursor: default;
	font-size: 450%;
}
#contact{
	font-family: Amatic SC;
	font-weight: 500;
	font-size: 200%;
}
#contact-link{
	color: black;
}
#contact-link:link    {color:none; background-color:none; text-decoration:none}
#contact-link:visited {color:none; background-color:none; text-decoration:none}
#contact-link:hover   {color:none; background-color:none; opactiy:0.5;text-decoration:none}
#contact-link:active  {color:none; background-color:none; text-decoration:none}