body {
   margin:0;
   padding:0;
  }
#Head_Title
{
width:100%;
height:20%;
display:inline-block;
margin:0px;
background-image:url("Head.jpg");
}
@font-face
{
font-family: jerk;
src:url("EraserRegular.ttf");
}
#Name_Title
{
font-family:jerk;
font-size:250%;
text-align:center;
padding-top:0px;
color:#FFFFFF;
}
#Imagine
{
width:100%;
height:30%;
display:inline-block;
margin:0px;
background-image:url("Imagine.jpg");
}
@font-face
{
font-family:dreameater;
src:url("FrenteH1-Regular.otf");
}
#Create
{
font-family:dreameater;
font-size:350%;
font-weight:600;
text-align:center;

color:#FFFFFF;
}
#Explore
{
width:100%;
height:30%;
display:inline-block;
margin:0px;
background-image:url("Explore.jpg");
}
@font-face
{
font-family:marcopolo;
src:url("Barrio-Regular.otf");
}
#Innovate
{
font-family:marcopolo;
font-size:350%;
font-weight:500;
text-align:center;
color:#FFFFFF;
}
#Rock
{
width:100%;
height:20%;
display:inline-block;
margin:0px;
background-image:url("Rock.jpg");
}
@font-face
{
font-family:boston;
src:url("boston_traffic.ttf");
}
#Solid
{
font-family:boston;
font-size:250%;
font-weight:800;
text-align:center;
color:#FFFFFF;
}
@font-face
{
font-family:doggy;
src:url("GoodDog.otf");
}
#f1
{
font-size:50%;
font-family:doggy;
padding-bottom:40px;
font-weight:600;
color:#FFFFFF;
}
@font-face
{
font-family:dumb;
src:url("3Dumb.ttf");
}
#f2
{
font-size:50%;
font-family:dumb;
padding-bottom:40px;
font-weight:600;
color:#FFFFFF;
}
#calc
{
width:100%;
height:700px;
background-color:#FFEBCD;
background-image:url("Calc_Background.jpg");
display:inline-block;

}
@font-face
{
font-family:lego;
src:url("BEBAS___.ttf");
}
#legacy
{
font-family:lego;
font-weight:500;
font-size:500%;
color:#FFFFFF;
text-align:center;
margin-top:20px;
}
#Answer_Box
{
width:245px;
height:120px;
background-image:url("b0.jpg");
margin-left:37%;
margin-top:0px;
margin-bottom:0px;
display:inline-block;
overflow: auto;
text-overflow: clip; 
white-space: nowrap; 
text-align:left-center;
font-family:calctext;
color:#FFFFFF;
}
@font-face
{
font-family:calctext;
src:url("OpenSans-Regular.ttf");
}
#numis
{
margin-left:37%;
border-collapse:collapse;
}
#b1
{
background-image:url("b1.jpg");
text-align:center;
font-family:calctext;
width:60px;
height:60px;
color:#FFFFFF;
}
#b1:hover
{
background-image:url("b0.jpg");
background-color:#D3D3D3;
}
#b2
{
background-image:url("b2.jpg");
text-align:center;
font-family:calctext;
width:60px;
height:60px;
color:#FFFFFF;
}
#b2:hover
{
background-image:url("b0.jpg");
background-color:#D3D3D3;
}
#bnull
{
background-image:url("b1.jpg");
text-align:center;
font-family:calctext;
width:60px;
height:60px;
color:#FFFFFF;
}